<div class="col-md-12">
This is the sequence view.
<div id="sequence">
  <ul class="seq-canvas">
    <li>
      Step 1 Content
    </li>
    <li>
      Step 2 Content
    </li>
    <li>
      Step 3 Content
    </li>
  </ul>
</div>
</div>

